{#
    Agenda page

    @author François Dupire
#}
{% extends "::layout.html.twig" %}

{% block title %}Agenda - {{ parent() }}{% endblock %}
{% block meta_description %}L'agenda de l'Harmonie.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header_title %}Agenda{% if eventsList is defined %} : Evénements du {{ calendar.date|date('d/m/Y') }}{% endif %}{% endblock %}

{% block body %}
    <section id="page-description">
        <p>
            L'agenda ci-dessous vous permet de prendre connaissance des différentes activités organisées par l'Harmonie de Malonne. Vous pouvez naviguer de mois en mois et d'année en année.
            Les dates marquées en rouge sont celles lors desquelles des événements se déroulent. Cliquez dessus pour obtenir plus d'information.
        </p>
    </section>
   
    <section id="agenda">
        <div class="error">
            <ul>
                {% for message in app.session.flashbag.get('error') %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        
        {% if eventsList is defined %}
            <div id="eventsList">
                <h2>Evénements du {{ calendar.date|date('d/m/Y') }}</h2>
                
                {% for event in eventsList %}
                    {% include('HROMEventsBundle:Events:event.html.twig') %}
                {% endfor %}
                    
                {% if eventsList is empty %}
                    Pas d'événement pour la date sélectionnée.
                {% endif %}
            </div>
        {% endif %}
        
        <table>
            <caption>
                {% set month = calendar.date|date('m') %}
                {% set previousMonthYear = calendar.date|date('Y') %}
                {% set nextMonthYear = calendar.date|date('Y') %}
                    
                {% set previousYear = calendar.date|date('Y') - 1 %}
                {% set nextYear = calendar.date|date('Y') + 1 %}
                    
                {% if calendar.date|date('m') == 1 %}
                    {% set previousMonth = 12 %}
                    {% set previousMonthYear = calendar.date|date('Y') - 1 %}
                {% else %}
                    {% set previousMonth = calendar.date|date('m') - 1 %}
                {% endif %}
                    
                {% if calendar.date|date('m') == 12 %}
                    {% set nextMonth = 1 %}
                    {% set nextMonthYear = calendar.date|date('Y') + 1 %}
                {% else %}
                    {% set nextMonth = calendar.date|date('m') + 1 %}
                {% endif %}
                    
		<a href="{{ path('events_calendar_specified', {'month' : month, 'year' : previousYear}) }}" class="btn"><<</a>
		<a href="{{ path('events_calendar_specified', {'month' : previousMonth, 'year' : previousMonthYear}) }}" class="btn"><</a>
                {{ (calendar.date|date('F'))|trans }} {{ calendar.date|date('Y') }}
		<a href="{{ path('events_calendar_specified', {'month' : nextMonth, 'year' : nextMonthYear}) }}" class="btn">></a>
		<a href="{{ path('events_calendar_specified', {'month' : month, 'year' : nextYear}) }}" class="btn">>></a>
            </caption>
                
            <tr><th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th><th>Vendredi</th><th>Samedi</th><th>Dimanche</th></tr>

            {% set cal = calendar.calendar %}
            {% include 'HROMEventsBundle:Events:calendar.html.twig' %}
        </table>
            
        <div id="today"><a href="{{ path('events_calendar') }}" class="btn">Aujourd'hui</a></div>
    </section>
{% endblock %}