{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Authentification - {{ parent() }}{% endblock %}
{% block meta_description %}Authentification au site web de l'Harmonie.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}" />
{% endblock %}
{% block header_title %}Authentification{% endblock %}

{% block body %}
    {% for key, message in app.session.flashbag.all() %}
	<div class="alert alert-{{ key }}">
	  {{ message|trans({}, 'FOSUserBundle') }}
	</div>
    {% endfor %}

    {% if error %}
	<div>{{ error|trans }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<label for="username">{{ 'security.login.username'|trans }}</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br />

	<label for="password">{{ 'security.login.password'|trans }}</label>
	<input type="password" id="password" name="_password" required="required" /><br />

	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br />

	<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
{% endblock %}