{#
    Little piece of HTML-TWIG for displaying a partner

    @author François Dupire
#}
<div class="partner" id="partner{{ partner.id }}">
    <h2>{{ partner.name }}</h2>

    {% if not (partner.picture is empty) %}<img src="{{ asset(partner.picture.path) }}" alt="{{ partner.picture.alt }}" />{% endif %}
    
    <p>{{ partner.link|converturls }}</p>

    <p>{{ partner.description|converturls }}</p><br />
</div>