{% form_theme form ':Form:form.html.twig' %}

<form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} class="form">	
    <div>Les champs marqués d'une astérisque (*) sont obligatoires.</div>
    
    <div class="error">{{ form_errors(form) }}</div>
    
    <fieldset>
        <legend>Evénement</legend>
        {{ form_label(form.object, 'Objet') }} {{ form_widget(form.object, {attr : {size : 50} }) }} <span class="error">{{ form_errors(form.object) }}</span><br />
        {{ form_label(form.description, 'Description') }} {{ form_widget(form.description, {attr : {cols : 50, rows : 10} }) }} <span class="error">{{ form_errors(form.description) }}</span><br />
        {{ form_label(form.date, 'Date') }} {{ form_widget(form.date) }} <span class="error">{{ form_errors(form.date) }}</span><br />
        {{ form_label(form.time, 'Heure') }} {{ form_widget(form.time) }} <span class="error">{{ form_errors(form.time) }}</span>
       
        <fieldset>
            <legend>{{ form_label(form.address, 'Lieu') }}</legend>
            <span class="help">Donnez le plus d'information possible</span><br />
            
            {% include 'HROMCoreBundle:Address:addressForm.html.twig' %}
        </fieldset>
        
        <fieldset>
            <legend>Image</legend>
            {% include 'HROMCoreBundle:Picture:pictureForm.html.twig' %}
        </fieldset>
    </fieldset>
	
    {{ form_rest(form) }}

    <div align="center"><input class="btn" type="submit" value="Enregistrer" /></div>
</form>