{#
    Contact form

    @author François Dupire
#}
{% form_theme form ':Form:form.html.twig' %}

<form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} class="form" novalidate>	
    <div>Les champs marqués d'une astérisque (*) sont obligatoires.</div>
    
    <div class="error">{{ form_errors(form) }}</div>
    
    <fieldset>
        <legend>Contact</legend>
        {{ form_row(form.surname) }}
        {{ form_row(form.givenName) }}
        
        <fieldset>
            <legend>{{ form_label(form.address) }}</legend>
            
            {% set address = form.address %}
            {% include 'HROMCoreBundle:Address:addressForm.html.twig' %}
        </fieldset>
       
        <fieldset>
            <legend>{{ form_label(form.phoneNumbers) }}</legend>
            <span class="help">Au moins un numéro de téléphone</span><br />
            
            <div class="error">{{ form_errors(form.phoneNumbers) }}</div>
            
            {% set phoneProto = form.phoneNumbers.vars.prototype %}
            <div id="{{ form.phoneNumbers.vars.id }}" data-prototype="{{ '<div class="row">'|e }}{{ form_label(phoneProto)|e }} {{ form_widget(phoneProto.number, {attr : {size : 20} })|e }} {{ ('<span class="error">' ~ form_errors(phoneProto.number) ~ '</span>')|e }} {{ '</div>'|e }}">                 
                {% for phoneNumber in form.phoneNumbers %}
                    <div class="row">{{ form_label(phoneNumber) }} {{ form_widget(phoneNumber.number, {attr : {size : 20} }) }} <span class="error">{{ form_errors(phoneNumber.number) }}</span></div>
                {% endfor %}
            </div>
        </fieldset>   
        
        <fieldset>
            <legend>{{ form_label(form.emailAddresses) }}</legend>
            {% set emailProto = form.emailAddresses.vars.prototype %}
            <div id="{{ form.emailAddresses.vars.id }}" data-prototype="{{ '<div class="row">'|e }}{{ form_label(emailProto)|e }} {{ form_widget(emailProto.address, {attr : {size : 50} })|e }} {{ ('<span class="error">' ~ form_errors(emailProto.address) ~ '</span>')|e }} {{ '</div>'|e }}">
                <div class="error">{{ form_errors(form.emailAddresses) }}</div>
                
                {% for emailAddress in form.emailAddresses %}
                    <div class="row">{{ form_label(emailAddress) }} {{ form_widget(emailAddress.address, {attr : {size : 50} }) }} <span class="error">{{ form_errors(emailAddress.address) }}</span></div>
                {% endfor %}
            </div>
        </fieldset>
        
        <fieldset>
            <legend>{{ form_label(form.roles) }}</legend>
            
            {{ form_row(form.roles) }}
            
            {{ form_row(form.committeeRole) }}
        </fieldset>
    </fieldset>
	
    {{ form_widget(form._token) }}  

    <div align="center"><input class="btn" type="submit" value="Enregistrer" /></div>
</form>