{# 
    School page

    @author François Dupire
#}
{% extends "::layout.html.twig" %}

{% block title %}Ecole de musique - {{ parent() }}{% endblock %}
{% block meta_description %}Ecole de musique{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />
{% endblock %}
{% block header_title %}Ecole de musique{% endblock %}

{% block body %}
    L'Harmonie de Malonne c'est aussi une école de musique où des cours sont dispensés par des professeurs dynamiques. La liste des professeurs et des cours donnés par chacun d'entre eux se trouve ci-dessous.
    
    <h2>Les professeurs et les cours</h2>
    <table class="listing">
        <thead>
            <tr><th width="20%">Nom</th> <th width="20%">Cours</th> <th width="20%">Téléphone(s)</th> <th width="25%">Email(s)</th></tr>
        </thead>

        <tbody>
            {% for teacher in teachers %}
                <tr class="
                    {% if loop.index is divisibleby(2) %}
                        pair
                    {% else %}
                        impair
                    {% endif %}
                ">
                    <td>{{ teacher.fullname }}</td>

                    <td><ul>
                        {% for cursus in teacher.courses %}
                            <li>{{ cursus.name }}</li>
                        {% endfor %}
                    </ul></td>

                    <td><ul>
                        {% for phoneNumber in teacher.phoneNumbers %}
                            <li>{{ phoneNumber.number }}</li>
                        {% endfor %}
                    </ul></td>

                    <td><ul>
                        {% for emailAddress in teacher.emailAddresses %}
                            <li>{{ emailAddress.address|converturls() }}</li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
