{#
    Little piece of HTML for navigating in listings

    @author François Dupire
#}

<div class="listnav">
    {% if pageCount > 0 %}
        {% if page > 1 %}
            <a href="{{ path(navRoute, {'page' : 1}) }}" class="btn"><<</a>
            <a href="{{ path(navRoute, {'page' : page - 1}) }}" class="btn"><</a>
	{% endif %}
		
	page : {{ page }} / {{ pageCount }}
	
	{% if page < pageCount %}
            <a href="{{ path(navRoute, {'page' : page + 1}) }}" class="btn">></a>
            <a href="{{ path(navRoute, {'page' : pageCount}) }}" class="btn">>></a>
	{% endif %}
    {% else %}
        Aucun élément pour le moment.
    {% endif %}
</div>