{% form_theme form ':Form:form.html.twig' %}

<form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} class="form">	
    <div>Les champs marqués d'une astérisque (*) sont obligatoires.</div>
    
    <div class="error">{{ form_errors(form) }}</div>
    
    <fieldset>
        <legend>News</legend>
        {{ form_label(form.title, "Titre", {help : "Indiquez le titre de la news"}) }} {{ form_widget(form.title, {attr : {size : 50} }) }} <span class="error">{{ form_errors(form.title) }}</span><br />
        {{ form_label(form.content, "Contenu", {help : "Indiquez le contenu de la news"}) }} {{ form_widget(form.content, {attr : {cols : 50, rows : 10} }) }} <span class="error">{{ form_errors(form.content) }}</span>
       
        <fieldset>
            <legend>Image</legend>
            {% include "HROMCoreBundle:Picture:pictureForm.html.twig" %}
        </fieldset>
    </fieldset>
	
    {{ form_rest(form) }}

    <div align="center"><input class="btn" type="submit" value="Enregistrer" /></div>
</form>