{% extends "HROMAdminBundle::layout.html.twig" %}

{% block title %}Liste des news - {{ parent() }}{% endblock %}
{% block meta_description %}Liste des news.{% endblock %}
{% block header_title %}Liste des news{% endblock %}

{% block body %}  
	<div class="succeed">
		<ul>
			{% for message in app.session.flashbag.get('succeed') %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	</div>

    <table class="listing">
		<tr><td collapse="5"><a class="add_content" href="{{ path('news_add') }}">Ajouter une news</a></td></tr>

		<tr><th>Titre</th> <th>Contenu</th> <th>Evénements associés</th> <th>Modifier ?</th> <th>Supprimer ?</th></tr>

		{% for news in newsList %}
			<tr>
				<td>{{ news.title }}</td>
				<td>{% if news.content|length > 255 %} {{ news.content|slice(0, 249) }} [...] {% else %} {{ news.content }} {% endif %}</td>
				<td></td>
				<td><a href="{{ path('news_edit', {'id' : news.id}) }}">X</a></td>
				<td><a href="{{ path('news_delete',{'id' : news.id}) }}">X</a></td>
			</tr>
		{% endfor %}
    </table>

	{% set page = app.request.get('page') %}
	{% set navRoute = 'news_list' %}

	{% include '::listnav.html.twig' %}
{% endblock %}
