{#
    Partners list page

    @author François Dupire
#}
{% extends "HROMAdminBundle::layout.html.twig" %}

{% block title %}Liste des partenaires - {{ parent() }}{% endblock %}
{% block meta_description %}Liste des partenaires.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />
{% endblock %}
{% block header_title %}Liste des partenaires{% endblock %}

{% block body %}
    <div align="right"><a href="{{ path('partner_add') }}" class="btn">Ajouter un partenaire</a></div>
    
    <div class="succeed">
        <ul>
            {% for message in app.session.flashbag.get('succeed') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>

    <table class="listing">
        <thead>
            <tr><th width="10%">Nom</th> <th width="30%">Lien</th> <th width="50%">Description</th> <th id="editColumn"></th> <th id="deleteColumn"></th></tr>
        </thead>

        <tbody>
            {% for partner in partnersList %}
                <tr class="
                    {% if loop.index is divisibleby(2) %}
                        pair
                    {% else %}
                        impair
                    {% endif %}
                ">
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.link|converturls }}</td>
                    <td>{% if partner.description|length > 255 %} {{ partner.description|slice(0, 249) }} [...] {% else %} {{ partner.description }} {% endif %}</td>
                    <td align="center"><a href="{{ path('partner_edit', {'id' : partner.id}) }}">Modif.</a></td>
                    <td align="center"><a href="{{ path('partner_delete',{'id' : partner.id}) }}">Suppr.</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set page = app.request.get('page') %}
    {% set navRoute = 'partners_list' %}

    {% include '::listnav.html.twig' %}
{% endblock %}
