<!--
    Cursus form

    @author François Dupire
-->
{% form_theme form ':Form:form.html.twig' %}

<form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} class="form" novalidate>	
    <div>Les champs marqués d'une astérisque (*) sont obligatoires.</div>
    
    <div class="error">{{ form_errors(form) }}</div>
    
    <fieldset>
        <legend>Cours</legend>
        {{ form_row(form.name) }}
        
        <fieldset>
            <legend>{{ form_label(form.teachers) }}</legend>
            
            {{ form_row(form.teachers) }}
        </fieldset>
    </fieldset>
	
    {{ form_rest(form) }}  

    <div align="center"><input class="btn" type="submit" value="Enregistrer" /></div>
</form>