<!--
    Cursus list page

    @author François Dupire
-->
{% extends "HROMAdminBundle::layout.html.twig" %}

{% block title %}Liste des cours - {{ parent() }}{% endblock %}
{% block meta_description %}Liste des cours.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />
{% endblock %}
{% block header_title %}Liste des cours{% endblock %}

{% block body %}
    <div align="right"><a href="{{ path('cursus_add') }}" class="btn">Ajouter un cours</a></div>
    
    <div class="succeed">
        <ul>
            {% for message in app.session.flashbag.get('succeed') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>

    <table class="listing">
        <thead>
            <tr><th width="45%">Nom</th> <th width="45%">Professeur(s)</th> <th id="editColumn"></th> <th id="deleteColumn"></th></tr>
        </thead>

        <tbody>
            {% for cursus in cursusList %}
                <tr class="
                    {% if loop.index is divisibleby(2) %}
                        pair
                    {% else %}
                        impair
                    {% endif %}
                ">
                    <td>{{ cursus.name }}</td>
                    <td><ul>
                        {% for teacher in cursus.teachers %}
                            <li>{{ teacher.fullName }}</li>
                        {% endfor %}
                    </ul></td>
                    <td align="center"><a href="{{ path('cursus_edit', {'id' : cursus.id}) }}">Modif.</a></td>
                    <td align="center"><a href="{{ path('cursus_delete',{'id' : cursus.id}) }}">Suppr.</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set page = app.request.get('page') %}
    {% set navRoute = 'cursus_list' %}

    {% include '::listnav.html.twig' %}
{% endblock %}
