{#
    Website main page

    @author François Dupire
#}
{% extends "::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}
{% block meta_description %}Harmonie Royale Ouvrière de Malonne. Que fait-on ? Qu'y a-t-il de neuf ? Tout savoir sur l'harmonie.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hromnews/css/news.css') }}" />
{% endblock %}
{% block header_title %}Accueil{% endblock %}

{% block body %}
    <section id="intro">
        <p id="index-img">
            <img src="{{ asset('images/index.jpg') }}" alt="Photo du groupe" />
        </p>
        <p id="index-intro">                 
            Bienvenue<br /><br />

            sur ce portail qui se veut être un lieu d’échange ouvert aux idées,<br />
            innovantes ou classiques,<br />
            tant qu’elles permettent à l’harmonie de faire des pas en avant encore et encore …<br /><br />

            Vous êtes en passe de devenir Malonnoise, Malonnois …<br />
            musiciens et musiciennes …<br />
            amies, amis …<br />
            intéressés ou en recherche musicale,<br />
            en vue d’apprendre ou de re-jouer d’un instrument,<br />
            rejoignez l’Harmonie de Malonne.<br /><br />

            Son comité dynamique, Monique, Marie-Laure et Eileen<br />
            son chef de musique, David la clé d’un bon niveau,<br />
            puisqu’il est Géorgien d’origine,<br />
            des professeurs pour vous encadrer,<br />
            Marie-Madeleine, David et Sandra,<br />
            des musiciens « intergénérationnels »,<br />
            vous accueilleront les bras ouverts.<br />
            N’allez donc pas plus loin, vous êtes au bon endroit et<br />
            dans la convivialité !
        </p>
    </section>

    <hr />
    
    <section id="page-description">
        <p>Retrouvez ici les dernières "news" (nouvelles) de l'Harmonie ! Les infos sur les prochaines activités, les échos des derniers concerts, les événements des autres sociétés : tout est là !</p>
    </section>
    
    <section id="news">
        {{ render(controller("HROMNewsBundle:News:last")) }}
            
        <div align="center"><a href="{{ path('news_all') }}" class="btn">Toutes les news</a></div>
    </section>
{% endblock %}
