{% form_theme form ':Form:labels.html.twig' %}

<form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} class="form">
    <div class="description"></div>
    
    <div class="error">{{ form_errors(form) }}</div>
	
    <div>Les champs marqués d'une astérisque (*) sont obligatoires.</div>
    
    <fieldset>
        <legend>Album</legend>
        
        {{ form_label(form.name, "Nom", {help : "Indiquez le nom de l'album"}) }} {{ form_widget(form.name) }} <span class="error">{{ form_errors(form.name) }}</span><br />
        {{ form_label(form.date, "Date", {help : "Date complète uniquement"}) }} {{ form_widget(form.date) }} <span class="error">{{ form_errors(form.date) }}</span>
    </fieldset>
	
    {{ form_rest(form) }}

    <div align="center"><input class="btn" type="submit" value="Enregistrer" /></div>
</form>