<form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }}>
    <div class="error">{{ form_errors(form) }}</div>
	
    <div>Les champs marqués d'une astérisque (*) sont obligatoires.</div>
    
    <fieldset>
        <legend>Album</legend>
        <table>
            <tr><th>{{ form_label(form.name, "Nom") }}</th> <td class="field">{{ form_widget(form.name) }}</td> <td><span class="error">{{ form_errors(form.name) }}</span></td></tr>
            <tr><th>{{ form_label(form.date, "Date") }}</th> <td class="field">{{ form_widget(form.date) }}</td> <td><span class="error">{{ form_errors(form.date) }}</span></td></tr>
        </table>
    </fieldset>
	
    {{ form_rest(form) }}

    <div class="buttonZone"><input class="button button-form" type="submit" value="Enregistrer" /></div>
</form>