{% extends "HROMAdminBundle::layout.html.twig" %}

{% block title %}Liste des albums - {{ parent() }}{% endblock %}
{% block meta_description %}Liste des albums.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />
{% endblock %}
{% block header_title %}Liste des albums{% endblock %}

{% block body %}  
    <div align="right"><a href="{{ path('category_add') }}" class="btn">Ajouter un album</a></div>
        
    <div class="succeed">
        <ul>
            {% for message in app.session.flashbag.get('succeed') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>

    <table class="listing">
        <thead>
            <tr><th>Nom</th> <th>Date</th> <th>Modifier ?</th> <th>Supprimer ?</th></tr>
        </thead>
        
        <tbody>
            {% for category in categoryList %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{% if not (category.date is empty) %}{{ category.date|date("d/m/Y") }}{% else %} / {% endif %}</td>
                    <td align="center"><a href="{{ path('category_edit', {'id' : category.id}) }}" class="btn">Modif.</a></td>
                    <td align="center"><a href="{{ path('category_delete',{'id' : category.id}) }}" class="btn">Suppr.</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set page = app.request.get('page') %}
    {% set navRoute = 'category_list' %}

    {% include '::listnav.html.twig' %}
{% endblock %}
