{% extends "HROMAdminBundle::layout.html.twig" %}

{% block title %}Liste des albums - {{ parent() }}{% endblock %}
{% block meta_description %}Liste des albums.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />
{% endblock %}
{% block header_title %}Liste des albums{% endblock %}

{% block body %}  
    <div align="right"><a href="{{ path('album_add') }}" class="btn">Ajouter un album</a></div>
        
    <div class="succeed">
        <ul>
            {% for message in app.session.flashbag.get('succeed') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>

    <table class="listing">
        <thead>
            <tr><th width="30%">Nom</th> <th width="10%">Année</th> <th width="50%">Identifiant</th> <th id="editColumn"></th> <th id="deleteColumn"></th></tr>
        </thead>
        
        <tbody>
            {% for album in albumList %}
                <tr class="
                    {% if loop.index is divisibleby(2) %}
                        pair
                    {% else %}
                        impair
                    {% endif %}
                ">
                    <td>{{ album.name }}</td>
                    <td>{{ album.year }}</td>
                    <td>{{album.googleAlbumID}}</td>
                    <td align="center"><a href="{{ path('album_edit', {'id' : album.id}) }}">Modif.</a></td>
                    <td align="center"><a href="{{ path('album_delete',{'id' : album.id}) }}">Suppr.</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set page = app.request.get('page') %}
    {% set navRoute = 'album_list' %}

    {% include '::listnav.html.twig' %}
{% endblock %}
