{% extends "::layout.html.twig" %}

{% block title %}Album : {{ album.name }} - {{ parent() }}{% endblock %}
{% block meta_description %}{{ album.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header_title %}Album : {{ album.name }} {{ album.year }}{% endblock %}

{% block body %}
    <div id="album" align="center">
        {% include "HROMGalleryBundle:Gallery:slideshow.html.twig" %}
    </div>
{% endblock %}