<!--
    Album page

    @author François Dupire
-->
{% extends "::layout.html.twig" %}

{% block title %}Album - {{ parent() }}{% endblock %}
{% block meta_description %}{{ album.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hromgallery/css/gallery.css') }}" />
{% endblock %}
{% block header_title %}Album : {{ album.name }} {{ album.year }}{% endblock %}

{% block body %}
    <div id="album">
        {% include "HROMGalleryBundle:Gallery:slideshow.html.twig" %}
    </div>
{% endblock %}