{#
    Albums page

    @author François Dupire
#}
{% extends "::layout.html.twig" %}

{% block title %}Photos/Vidéos - {{ parent() }}{% endblock %}
{% block meta_description %}L'harmonie en images.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hromgallery/css/gallery.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />
{% endblock %}
{% block header_title %}Photos/Vidéos{% endblock %}

{% block body %}
    <section id="page-description">
        <p>Voici la liste des albums photos et vidéos de l'Harmonie. A visionner sans modération !</p>
    </section>
    
    <section id="albums">
        {% for album in albumList %}
            <div class="album-intro">
                <a
                    href="{{ path('album_select', {'id' : album.id})}}"
                >
                    {{ album.name }} {{ album.year }}
                </a><br />
                
                <div>{{ album.description }}</div>
            </div>

            {% if (loop.index) % albumCols == 0 or (loop.last) %}<br />{% endif %}
        {% endfor %}
    </section>

    {% set page = app.request.get('page') %}
    {% set navRoute = 'album_all' %}

    {% include '::listnav.html.twig' %}

{% endblock %}