{#
    Forms layout

    @author François Dupire
#}

{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="row">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        <span class="error">{{ form_errors(form) }}</span>
    </div>
{% endspaceless %}
{% endblock %}
    
{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}

    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <span {% if required %}class="required"{% endif %}>{{ label|trans({}, translation_domain) }}</span>
            
        {% if attr.help is defined and not compound %}
            <br /><span class="help">{{ attr.help }}</span>
        {% endif %}
    </label>
    
{% endspaceless %}
{% endblock form_label %}

{% block form_widget_compound %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'row'}) %}

    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <span {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </span>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <span {{ block('widget_container_attributes') }}>
            {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
            {{ form_widget(form.hour, vars) }}:{{ form_widget(form.minute, vars) }}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </span>
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}